:root {
  /* https://color.adobe.com/Light-Brown---Comp-color-theme-ad58d633-84a4-4930-b5fb-da7f02fe380d */
  --c-blue-heaven: #5a7f96;
  --c-masala: #57514a;
  --c-cocoa-pecan: #967d5a;
  --c-seaplane-grey: #393e41;
  --c-tunisian-stone: #ffdfb3;
}
